---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 ease-in-out hover:text-candy-pink"
      href="https://github.com/ruphaa"
      target="_blank"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="Ruphaa on GitHub"></i>
    </a>
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 hover:text-candy-yellow"
      href="https://twitter.com/ruphaaganesh"
      target="_blank"
    >
      <i class="fa-brands fa-twitter" aria-hidden="true" title="Ruphaa on Twitter"></i>
    </a>
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 hover:text-candy-green"
      href="https://codepen.io/ruphaa"
      target="_blank"
    >
      <i class="fa-brands fa-codepen" aria-hidden="true" title="Ruphaa on Codepen"></i>
    </a>
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 hover:text-candy-blue"
      href="https://dev.to/ruphaa"
      target="_blank"
    >
      <i class="fa-brands fa-dev" aria-hidden="true" title="Ruphaa on Dev"></i>
    </a>
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 hover:text-candy-purple"
      href="https://medium.com/@ruphaaganesh"
      target="_blank"
    >
      <i class="fa-brands fa-medium" aria-hidden="true" title="Ruphaa on Medium"></i>
    </a>
    <a
      class="unset ml-4 text-2xl rounded-sm transition-colors duration-150 hover:text-candy-cyan"
      href="https://www.linkedin.com/in/ruphaaganesh/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin" aria-hidden="true" title="Ruphaa on LinkedIn"></i>
    </a>
  </div>
  <!-- <div>
    This blog is built with 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
      Blogster</a> and hosted in
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={"https://www.netlify.com"}
      target="_blank"
    >
      Netlify</a>.
  </div> -->
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
