---
---

<div class="mt-8 mb-2">
  <h1
    class="font-bold text-text-heading text-4xl md:text-5xl pt-4 pb-2 overflow-hidden mb-2"
  >
    Ruphaa Ganesan
  </h1>
  <p class="text-lg pb-4">Welcome to my digital garden 🪴</p>
</div>
<div>
  <p class="mb-5">
    Hey, I'm Ruphaa! I'm a software engineer in Sydney. I'm currently working at Canva in the Design system team. 
  <br/>This is my scared space where I share my projects, write blog posts and notes about topics I'm interested in.
  </p>    
</div>
