---
import HeaderLink from "./HeaderLink.astro";
---

<div class="mb-5">
  <h2 class="font-semibold text-2xl">What I'm doing now</h2>
  <ul class="list-none mt-4">
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>I'm currently working on a new blog post <HeaderLink href="/blog/state-of-js-2022" class="home font-semibold">State of JS 2022: What did I learn?</HeaderLink></span>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span><HeaderLink href="https://demo-dictionary.netlify.app/" class="home font-semibold" target="_blank">Dictionary App</HeaderLink> Wrapped 🥳</span>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>I've also started working on some codepens.</span>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>Reading the book: <HeaderLink href="https://impactplayersbook.com/" class="home font-semibold" target="_blank">Impact Players</HeaderLink> ✨</span>
      </div>
    </li>
  </ul>
</div>
