---
---

<div class="mb-5">
  <h2 class="font-semibold text-2xl">What I'm doing now</h2>
  <ul class="list-none mt-4">
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>I'm currently working on my 2022: Year in review.</span>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>I'm also working on this website to update a few things here and there.</span>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <span>Reading the book: Essentialism ✨</span>
      </div>
    </li>
  </ul>
</div>