---
---

<div class="mb-5">
  <h2 class="font-semibold text-2xl">Speaking🎙</h2>
  <ul class="list-none mt-4">
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <a
          href="https://www.youtube.com/watch?v=cR901Xmb1-I&feature=youtu.be&t=8370"
          target="_blank"
          class="unset
            hover:decoration-4 hover:decoration-solid hover:underline hover:decoration-candy-blue
            "
        >
          <span>JSFoo - VueDay 2019</span>
          <span>
            <i class="ml-1 text-[12px] fa-solid fa-up-right-from-square" />
          </span>
        </a>
      </div>
    </li>
    <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3">
      <div class="title">
        <a
          href="https://www.youtube.com/watch?v=duaDIM3dJH8"
          target="_blank"
          class="unset
            hover:decoration-4 hover:decoration-solid hover:underline hover:decoration-candy-blue
            "
        >
          <span>VueBLR #15 - Atomic Design using VUE</span>
          <span>
            <i class="ml-1 text-[12px] fa-solid fa-up-right-from-square" />
          </span>
        </a>
      </div>
    </li>
  </ul>
</div>
